/* Your Website Styles */


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}

h1 {
	font-family: 'Russo One', sans-serif;
	font-size: 100px;
}

body {
	font-family: 'Chau Philomene One', sans-serif;
}